html, body {
  height: 100%;
}

/* HEADER STYLING */

.header {
	background-color: #89cff0;
	height: 100%;
	width: 100%;

}

.header-desc {
	left: 0;
	width: 48%;
	height: 70%;
	padding:5%; 
	background-color: #fffafa;
	border-bottom-right-radius: 4em;
}

.header-desc-plus {
	position: absolute;
	/*background-color: black;*/
	width: 40%;
	height: 60%;
	right: 0;
	top: 18%;
}

.logo-container {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 1.5em;
	width: 12em;
	height: 12em;
	background-color: rgba(255,255,255,1);
	box-shadow: 10px 10px 0px #121212;
}

.header-text {
	margin: 0;
	position: relative;
	top: 45%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #121212;
	font-size: 2em;
}

.header-desc-plus .header-text {
	color: #FFFAFA;
	padding-right: 5em;
}

.logo-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* END OF HEADER STYLING */

/* BODY STYLING */

/* BOXES STYLING */

.content-box {
	width: 10em;
	height: 10em;
	background-color: #ffe5b4;
	border-radius: 1em;
	margin: 2em;
	padding-top: 4em;
	-webkit-transition: box-shadow 0.2s, width 0.2s, margin  0.2s, height 0.2s;
}

.content-box:hover {
	width: 10.4em;
	margin: 1.8em;
	height: 10.4em;
	box-shadow: 0px 0px 5px #121212;
	-webkit-transition: box-shadow 0.4s, width 0.4s, margin  0.4s, height 0.4s;
}

/* USEFUL STYLING CLASSES */

.title {
	font-size: 2em;
	padding-bottom: 5%;
}

.font-size-2em {
	font-size: 1.5em;
}

.text-align-center {
	text-align: center;
}

.align-all-center {
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pad-0 {
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.no-style {
	text-decoration: none;
	color: black;
}

.no-style:link {
  text-decoration: none;
}

.no-style:visited {
  text-decoration: none;
}

.no-style:hover {
  text-decoration: none;
}

.no-style:active {
  text-decoration: none;
}