* {
  outline: none;
}

.navbar-pos-f {
  position: fixed;
  position: -webkit-fixed; /* Safari */
  left: 0;
  top: 0;
  width: 100%;
}

.light-blue-bg {
  background-color: #89cff0;
}

.dark-grey-bg {
  background-color: #121212;
}


.float-r {
	/*position: ;*/
	right: 0;
}

.font-size-1-2r {
	font-size: 1.3em;
}

.sign {
  width: 65%;
  height: 25em;
  box-shadow: 0px 0px 10px #121212;
  border-radius: 1em;
}

.sign td {
  padding: 2em;
}

.center-text {
  text-align: center;
}

.font-size-2em {
  font-size: 1.4em;
}

.top-0 {
  top: 0;
}

.pad-b-2em {
  margin-bottom: 2em;
}

.sign form input {
  border: none;
  border-bottom: 2px solid #89cff0;
  margin-bottom: 1.5em;
}

.tsk-btn {
  text-decoration: none;
  border-radius: 0.5em;
  font-size: 1.5em;
  border: 2px solid #89cff0;
  background-color: rgba(0,0,0,0);
}

.bottom {
  margin-top: 5em;
}

.tsk-btn:hover {
  box-shadow: 0px 10px 2px #89cff0; 
}

.index- {
  z-index: -99;
}