<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Roznama</title>

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/homec.css') }}">

</head>
<body>

	<!-- HEADER -->

	<div class="header container-fluid pad-0">

		<div class="header-desc">
			<div class="header-text">
				<h1 class="title">Roznama</h1>
				<p>Welcome to Roznama, a friend to help you pave a path to a more organized and stress-free lifestyle.</p>
			</div>
		</div>

		<div class="header-desc-plus">
			<p class="header-text">We care about your mental health first and then your schedule as to assure a healthy lifestyle and good performance!<br><br>If you would like to know more about the importance of mental health click here.</p>
		</div>

		<div class="logo-container">
			<img src="{{ url_for('static', filename='images/logo.png') }}" width="100%">
		</div>

	</div>

	<!-- HEADER END -->
	
	<!-- NAVIGATION BAR -->
	<nav class="navbar-pos-f navbar navbar-expand-lg font-size-2r navbar-dark navbar-pos-f light-blue-bg">
		<!-- WEBSITE NAME -->
		<a class="navbar-brand" href="" style="font-size: 2rem;">Roznama</a>
		</div>
	</nav>

	<nav class="navbar-pos-f navbar navbar-expand-lg navbar-dark dark-grey-bg font-size-1-2r">

	  <a class="navbar-brand" href="#" style="font-size: 1.8rem;">Roznama</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarNav">

	    <ul class="navbar-nav float-r">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('mhealth') }}">Mental Health</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('signin') }}">Sign Up-In</a>
	      </li>
<!-- 
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#">Disabled</a>
	      </li> -->
	    </ul>

	  </div>
	</nav>
	<!-- NAVBAR END -->

	<!-- CONTENT -->
<br><br>
	<div class="container-fluid">
		<div class="container font-size-2em text-align-center">
			<h1>Welcome!</h1><br><p> What are you interested in?</p>
			<center><table>
				<tr>
					<td>
						<a href="{{ url_for('mhealth') }}" class="no-style"><div class="content-box text-align-center no-style"><p class="no-style">Mental Health</p></div></a>
					</td>
					<td>
						<a href="{{ url_for('signin') }}" class="no-style"><div class="content-box text-align-center no-style"><p class="no-style">To-Do List</p></div></a>
					</td>
					<td>
						<a href="{{ url_for('about') }}" class="no-style"><div class="content-box text-align-center no-style"><p class="no-style">About us</p></div></a>
					</td>
				</tr>
			</table></center>
		</div>
	</div>


<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->







	<script src="{{ url_for('static', filename='js/homejs.js') }}"></script>


	<!-- BOOTSTRAP JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>