<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Roznama</title>

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

</head>
<body>

	<!-- NAVIGATION BAR -->
	<nav class="navbar navbar-expand-lg font-size-2r navbar-dark light-blue-bg">
		<!-- WEBSITE NAME -->
		<a class="navbar-brand" style="font-size: 2rem;">Roznama</a>
		</div>
	</nav>

	<nav class="navbar-pos-f navbar navbar-expand-lg navbar-dark dark-grey-bg font-size-1-2r">

	  <a class="navbar-brand" href="/" style="font-size: 1.8rem;">Roznama</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarNav">

	    <ul class="navbar-nav float-r">
	      <li class="nav-item active">
	        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('mhealth') }}">Mental Health</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="{{ url_for('signin') }}">Sign Up-In</a>
	      </li>
<!-- 
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#">Disabled</a>
	      </li> -->
	    </ul>

	  </div>
	</nav>
	<!-- NAVBAR END -->

	<br><br>

	<!-- NAVBAR END -->
	<center>
	<table class="sign font-size-2em center-text">
		<tr>
			<td width="50%" >
				<h1 class="top-0 pad-b-2em">Login In</h1>
				<form id="login_form" action="/signin" method="post">
					<label>Username:</label>
					<input type="text" name="username" placeholder="Username">
					<br>
					<label>Password:</label>
					<input class="pad-b-2em" type="password" name="password" placeholder="Password">
					<br><br>
					<input type="submit" value="submit">

				</form>
				<br>
				<p>Don't have an acount? <a href="{{url_for('signup')}}">Sign up!</a></p>
			</td>
			<td>
				<form action="/signup" method="post">
					<h1>Sign Up</h1><br>
					<label>First Name:</label>
					<input type="text" name="first_name" placeholder="First Name">
					<br>
					<label>Last Name:</label>
					<input type="text" name="last_name" placeholder="Last Name">
					<br>
					<label>Username:</label>
					<input type="text" name="username" placeholder="Username">
					<br>
					<label>Password:</label>
					<input type="password" name="password" placeholder="Password">
					<br>
					<label>E-mail:</label>
					<input type="text" name="email" placeholder="example@emailprovider.com">
					<br>
					<input type="submit" name="submit" value="submit">
				</form>
			</td>
		</tr>
	</table>
	</center>






	<!-- BOOTSTRAP JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>