<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Roznama</title>

	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	<!-- To do page -->


	
	<!-- NAVIGATION BAR -->
	<nav class="navbar-pos-f navbar navbar-expand-lg font-size-2r navbar-dark navbar-pos-f light-blue-bg">
		<!-- WEBSITE NAME -->
		<a class="navbar-brand" href="" style="font-size: 2rem;">Roznama</a>
		
		<!-- TOGGLE DROP-DOWN-LIST ON SCREEN SIZE -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav mr-auto">

				<!-- FIRST ITEM ON NAV-BAR -->

				<li class="nav-item active">
					<a class="nav-link" href="">Home</a>
				</li>

				<!-- SECOND ITEM ON NAV-BAR -->

				<li class="nav-item">
					<a class="nav-link" href="">Mental Health</a>
				</li>

				<!-- THIRD ITEM ON NAV-BAR -->

				<li class="nav-item">
					<a class="nav-link" href="">To-Do List</a>
				</li>


				<!-- FOURTH ITEM ON NAV-BAR -->

				<li class="nav-item bg-custom-d">
					<a class="nav-link" href="">Sign Up/In</a>
				</li>

				<!-- WEBPAGE IN WORK/NOT AVAILABLE -->
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>


			<!-- <div class="nav-item my-2 my-lg-0 bg-custom-d color-w">
			{{n}}
			</div> -->
		</div>
	</nav>
	<!-- NAVBAR END -->
	
	<!-- TODO LIST START -->
	<table>
		<tr>
			<th>Task</th>
			<th>Status</th>
			<th>Done</th>
		</tr>
	{% for item in todo_items %}
		<tr>
			<td>{{item.item_title}}</td>
			{% if item.item_urgency == 'High' %}
			<td style="background-color: #f06c6c">
			{{item.item_urgency}}</td>
			{% elif item.item_urgency == 'Medium' %}
			<td style="background-color: #ebd173">{{item.item_urgency}}</td>
			{% elif item.item_urgency == 'Low' %}
			<td style="background-color: #abeb73">{{item.item_urgency}}</td>
			{% endif %}
			<td>
				<form action='/delete/{{item.item_id}}' method='post'>
					<input type="submit" name="delete" value="Done">
				</form>
			</td>
		</tr>
	{% endfor %}
	</table>

	<button onclick="toggle()">Add Task!</button>
	<form style="display: none;"id='toggle' action="/todo/user/{{user.username}}" method='post'>
		<label>Task:</label>
		<input type="text" name="title">
		<br>
		<label>Urgency:</label>
		<br>
		<input type="radio" name="urgency" value="High">
  		<label for="high">High</label><br>
  		<input type="radio" name="urgency" value="Medium">
  		<label for="medium">Medium</label><br>
  		<input type="radio" name="urgency" value="Low">
  		<label for="low">Low</label><br>
  		<input type="submit" name="submit" value="submit">
  	</form>

	<script type="text/javascript">
		function toggle() {
			console
  			var x = document.getElementById("toggle");
 			 if (x.style.display === "none") {
    			x.style.display = "block";
  			} else {
    			x.style.display = "none";
  			}
		}
	</script>


	<!-- BOOTSTRAP JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>